.Over-Card {
    display: table;
    height: 300px;
    width: 600px;
    position: absolute;
    font-size: 30px;
    color: black;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.8);
    transform: translate(4%, 60%);
    box-shadow: 2px 20px 50px #000000;
}

.Card-Info {
    display: table-cell;
    vertical-align: middle;
}

.Reset-Button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.Reset-Button:hover {
    background-color: green;
}